body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div, ul, li, main, section, input {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

.boards {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	flex-direction: vertical;
	flex-wrap: wrap;
}

.new-board-btn {
	border: dotted 1px silver;
	color: silver;
	background: white;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	margin: 4rem;
	width: 80%;
	cursor: pointer;
}

.new-board-btn:hover {
	color: gray;
	border-color: gray;
}

.board {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.board__title {
	margin: 0;
	font-size: 3rem;
	font-weight: normal;
	color: gray;
	opacity: 0.5;
	background: none;
	border: 0;
	padding: 0 0.5rem;
	height: 5rem;
	width: 80%;
	position: relative;
	top: 1.5rem;
	left: 2rem;
	display: block;
	text-overflow: ellipsis;
}

.board__title:focus {
	background: lightyellow;
}

.board__items {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	background: whitesmoke;
	width: 100%;
	padding: 0.5rem;
	overflow-x: scroll;
	margin: 0 auto;
	min-height: 4rem;
}

.board__new-list {
	width: 100px;
	padding: 0.5rem;
	border: 0;
	position: absolute;
	top: 3rem;
	right: 2rem;
	color: silver;
	font-size: 1rem;
	cursor: pointer;
	background: none;
}

.board__new-list:hover {
	color: gray;
}

.list {
	width: 300px;
	text-align: center;
}

.list__title {
	margin: 2rem;
	margin-bottom: 0.5rem;
	min-height: 1.5rem;
	width: 240px;
	padding: 0 0.5rem;
	color: gray;
	text-align: center;
	font-size: 1rem;
	background: 0;
	border: 0;
	text-overflow: ellipsis;
}

.list__title:focus {
	cursor: move;	
	background: lightyellow;
	color: black;
}

.list__title::placeholder {
	color: rgba(0,0,0,0.1);
}

.list__items {
	margin: 0 0.5rem;
	padding: 0.5rem;
	padding-top: 0;
	list-style-type: none;
}

.list__add-item {
	border: 0;
	color: silver;
	background: none;
	margin: 0 2rem 0.5rem 2rem;
	padding: 0;
	font-size: 1rem;
	visibility: hidden;
	cursor: pointer;
}

.list:hover .list__add-item {
	visibility: visible;
}

.item, .item.gu-mirror {
	position: relative;
	min-width: 200px;
	margin: 0.5rem;
	padding: 0.5rem;
	background: white;
	display: flex;
}

.item:first-child {
	margin-top: 0;
}

.item.gu-mirror {
	list-style-type: none;
}

.gu-mirror {
	transform: rotate(3deg);	
}

.item__handle {
	width: 0.5rem;
	background: silver;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	cursor: move;
	opacity: 0.5;
}

.item:hover .item__handle {
	opacity: 1;
}

.item__textarea {
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
	padding: 0.5rem;
	margin: 0 0.5rem;
	min-height: 1rem;
}

.dynamic-textarea {
	resize: none;
	border: 0;
	flex: 1;
	overflow: hidden;
	background: none;
}

.dynamic-textarea:focus {
	background: lightyellow;
}

.item__textarea--completed {
	color: gray;
	text-decoration: line-through;
}
