:root {
  --full-white: white;
  --light-smoke: whitesmoke;
  --dark-smoke: #eee;
  --light-silver: #ccc;
  --silver: silver;
  --gray: gray;
  --almost-black: #222;
  --full-black: black;
  --light-yellow: lightyellow;
}

div, ul, li, main, section, input, textarea {
  box-sizing: border-box;
}

a, a:visited, a:active {
  color: var(--almost-black);
}

button {
  background: none;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--almost-black);
  height: 100vh;
}

body, .page, #root {
  display: flex;
  flex-direction: column;
}

header, footer {
  padding: 0.5rem;
  color: var(--full-white);
  flex-shrink: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page, #root, main {
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--light-smoke);
}

footer {
  text-align: center;
}

.site-name__text {
  margin: 0;
  font-size: 1.5rem;
}

.site-name__link,
.site-name__link:visited,
.site-name__link:active {
  text-decoration: none;
  color: var(--full-white);
}

.login-links {
  color: var(--gray);
}

.home__login {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.home__login input {
  width: 100%;
  padding: 0.825rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border: 0;
}

.list-spaces {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-spaces li {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

.space {
  display: flex;
  align-self: flex-start;
  overflow: hidden;
  width: 100%;
}

.space__info {
  background: var(--dark-smoke);
  align-self: stretch;
}

.pane {
  background: var(--full-white);
  padding: 2rem;
  width: 300px;
  flex: 0.2;
  box-shadow: inset 20px 19px 116px -54px rgba(0,0,0,0.54);
}

.rows {
  overflow: scroll;
  flex: 1;
  background: var(--dark-smoke);
}

.new-row-btn {
  border: 0;
  color: var(--gray);
  background: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
  align-self: flex-start;
}

.row {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.space__title,
.row__title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--gray);
  background: none;
  border: 0;
  padding: 0 0.5rem;
  height: 5rem;
  width: 80%;
  position: relative;
  top: 1.5rem;
  left: 2rem;
  display: block;
  text-overflow: ellipsis;
}

.space__title:focus,
.row__title:focus {
  background: var(--light-yellow);
}

.space__title {
  position: static;
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  /*background: var(--full-white);*/
}

.row__items {
  /*border: solid 1px red;*/
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--light-smoke);
  width: 100%;
  padding: 2rem;
  padding-left: 0;
  overflow-x: scroll;
  margin: 0 auto;
  min-height: 4rem;
}

.row__new-list {
  width: 100px;
  padding: 0.5rem;
  border: 0;
  position: absolute;
  top: 3rem;
  right: 2rem;
  color: var(--gray);
  font-size: 1rem;
  cursor: pointer;
  background: none;
}

.list {
  /*border: solid 1px yellow;*/
  width: 20rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  padding: 0 2rem;
}

.list__title {
  min-height: 1.5rem;
  width: 100%;
  padding: 0 0.5rem;
  color: var(--gray);
  text-align: center;
  font-size: 1rem;
  background: 0;
  border: 0;
  text-overflow: ellipsis;
}

.list__title:focus {
  cursor: move;
  background: var(--light-yellow);
  color: black;
}

.list__title::placeholder {
  color: var(--silver);
}

.list__items {
  /*border: solid 1px red;*/
  padding: 0;
  margin: 0.5rem 0;
  list-style-type: none;
  width: 100%;
}

.list__items.empty {
  border: dashed 1px var(--light-silver);
  min-height: 3rem;
}

.login-button,
.list__add-item {
  border: 0;
  width: 100%;
  color: var(--gray);
  background: var(--dark-smoke);
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.list__add-item {
  visibility: hidden;
}

.list:hover .list__add-item {
  visibility: visible;
}

.item, .item.gu-mirror {
  width: 100%;
  margin-bottom: 0.5rem;
  background: var(--full-white);
  display: flex;
}

.item:last-child {
  margin-bottom: 0;
}

.item.gu-mirror {
  list-style-type: none;
}

.gu-mirror {
  transform: rotate(3deg);
}

.item__handle {
  cursor: move;
  width: 0.5rem;
  background: var(--silver);
  opacity: 0;
}

.item__handle.selected {
  opacity: 0.5;
}

.item:hover .item__handle {
  opacity: 1;
}

.item__textarea {
  align-self: flex-start;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0;
  background: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.item__textarea:focus {
  background: var(--light-yellow);
}

.item__textarea--completed {
  color: var(--gray);
  text-decoration: line-through;
}

.item__menu {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.item__menu * {
  margin-bottom: 0.5rem;
  cursor: pointer;
  opacity: 0;
}

.item:hover .item__menu * {
  opacity: 1;
}
